@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: verdana, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    font-family: var(--font1);
}
header{
    font-family: var(--font3);
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-size: 7vw;
    font-family: var(--font2);
    padding-top: 50px;
    /*text-transform: uppercase;*/
    /*transforma toda as letras em maiusculas */
    font-variant: small-caps;
}
header > p  {
    padding-bottom: 50px;
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 5em;
    font-family: var(--font3);
    font-size: 3vw;
}
section.imagem{
    color: white;
    box-shadow: inset 3px 3px 10px black;
    background-attachment: fixed;
    
}
section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.289);
    padding: 10px;
    box-shadow: 1px 1px 10px  black;
    text-shadow: 1px 1px 2px black;
}
section.normal{
    background-color: white;

}
section>p{
    padding-bottom: 2em;
}
section#img1{
    background-image: url('../imagem/background001.jpg');
    background-position: right center;
    background-size: cover;
    
}
section#img2{
    background-image: url('../imagem/background002.jpg');
    background-position:right center ;
    background-size:cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
}